<div>
  <ul>
    <li> Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>
<h2> One-Way Binding using Interpolation</h2>
{{title}}
{{Name}}


<div> 2*2 ={{2*2}} </div>
<router-outlet></router-outlet>
<!-- 

<h2> Property Binding</h2>
<img [src]="imagepath" />

<h2> Property Binding  with interpolation</h2>
<img  src={{imagepath1}} /> -->

<h2>  Event Binding </h2>
<div> 
  <button (click)="showme()"> Click me</button>
  </div>
<div>
  {{message}}
</div>
<h2> Example for Two-way Binding</h2>

<input  [(ngModel)]="username"/>

<p>  Welcome : {{username}}</p>